flex/lex.yy.c
flex/a.out
*.out
src/lex.cpp
src/lex.yy.c
src/parser.cpp
src/parser
src/parser.hpp
src/bison
.vscode
parser.output
parser.dSYM
Session.vim

.idea
cmake-build-debug

builtin.ll
codegen.bc
codegen.ll